html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables and Mixins */
/* End Variables and Mixins */
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  width: 77%;
}

.button__light,
.button__dark {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.8rem;
  padding: 12px 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.button__light {
  border: 2px solid #fafafa;
  color: #fafafa !important;
}
.button__light:hover {
  background: #fafafa;
  color: #2b272f !important;
}

.button__dark {
  border: 2px solid #2b272f;
  color: #2b272f !important;
}
.button__dark:hover {
  background: #2b272f;
  color: #fafafa !important;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  line-height: 4.1rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

#topBar {
  background: #fff;
  height: 80px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 50;
}
#topBar .container {
  align-items: center;
  display: flex;
}
#topBar .imgContainer {
  margin-right: auto;
  width: 20%;
}
#topBar nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  min-width: 425px;
}
#topBar nav li {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #837d87;
  display: inline;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#topBar nav li:hover {
  color: #2b272f;
}

#cta {
  background: #2d2640;
  height: 600px;
  margin-bottom: 300px;
  position: relative;
  width: 100%;
  z-index: 1;
}
#cta .pattern__right {
  background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat right;
  height: 100%;
  position: absolute;
  top: -80px;
  width: 100%;
  z-index: 10;
}
#cta .pattern__left {
  background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 382px;
  width: 100%;
}
#cta .container {
  display: flex;
  padding-top: 105px;
}
#cta .container:before {
  background: #fafafa;
  content: "";
  height: 1px;
  position: absolute;
  width: 150px;
}
#cta .container .cta__text {
  padding-right: 2%;
  width: 50%;
}
#cta .container .cta__text h1 {
  color: #fafafa;
  padding: 65px 0 30px;
}
#cta .container .cta__text p,
#cta .container .cta__text a {
  color: #fafafa;
  opacity: 0.7;
}
#cta .container .cta__text p {
  line-height: 1.7rem;
}
#cta .container .cta__text .cta__btn {
  text-transform: uppercase;
  margin-top: 40px;
}
#cta .container .cta__text .cta__btn a {
  border: 2px solid #fafafa;
}
#cta .container .cta__text .cta__btn a:hover {
  background: #fafafa;
  color: #2b272f;
}
#cta .container .cta__image {
  width: 40%;
}

#different {
  width: 100%;
  height: 100%;
}
#different .container:before {
  background: #2d2640;
  content: "";
  height: 1px;
  position: absolute;
  width: 150px;
}
#different .container h1 {
  color: #2d2640;
  padding: 65px 0 95px;
}
#different .container .item__container {
  display: flex;
  width: 100%;
}
#different .container .item__container .item {
  width: 31%;
  margin-right: 3.5%;
}
#different .container .item__container .item:last-child {
  margin-right: 0;
}
#different .container .item__container .item h3 {
  color: #2b272f;
  padding: 35px 0 25px;
}
#different .container .item__container .item p {
  color: #837d87;
  line-height: 1.55rem;
}

#howWeWorkBanner {
  height: 100%;
  margin: 150px 0;
  width: 100%;
}
#howWeWorkBanner .container {
  background: #2d2640;
  height: 250px;
  position: relative;
}
#howWeWorkBanner .container .banner__pattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#howWeWorkBanner .container .banner__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 85%;
  z-index: 5;
}
#howWeWorkBanner .container .banner__inner h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #fafafa;
  margin-right: auto;
}

#footer {
  background: #fafafa;
  height: 395px;
  position: relative;
  width: 100%;
}
#footer .footer__pattern {
  position: absolute;
  z-index: 1;
}
#footer .footer__top {
  padding-top: 25px;
  height: 100px;
  width: 100%;
}
#footer .footer__top .container {
  align-items: center;
  border-bottom: 1px solid rgba(131, 125, 135, 0.25);
  display: flex;
}
#footer .footer__top .container .footer__top-logo {
  margin-right: auto;
  z-index: 5;
}
#footer .footer__top .container .footer__top-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
#footer .footer__top .container .footer__top-social svg:hover path {
  fill: #2b272f;
}
#footer .footer__bottom {
  margin-top: 40px;
}
#footer .footer__bottom .container {
  display: flex;
}
#footer .footer__bottom-vertList {
  width: 25%;
  z-index: 5;
}
#footer .footer__bottom-vertList h5,
#footer .footer__bottom-vertList li {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  line-height: 1.85rem;
  color: #2d2640;
}
#footer .footer__bottom-vertList li:hover {
  text-decoration: underline;
}
#footer .footer__bottom-vertList h5 {
  color: #837d87;
  padding-bottom: 25px;
}

/*# sourceMappingURL=styles.css.map */
