html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables and Mixins */
/* End Variables and Mixins */
.display__none {
  display: none;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  width: 77%;
}
@media screen and (max-width: 390px) {
  .container {
    width: 90%;
  }
}

.button__light,
.button__dark {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.8rem;
  padding: 12px 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.button__light {
  border: 2px solid #fafafa;
  color: #fafafa !important;
}
.button__light:hover {
  background: #fafafa;
  color: #2b272f !important;
}

.button__dark {
  border: 2px solid #2b272f;
  color: #2b272f !important;
}
.button__dark:hover {
  background: #2b272f;
  color: #fafafa !important;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  line-height: 4.1rem;
}
@media screen and (max-width: 390px) {
  h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 3.5rem;
}
@media screen and (max-width: 390px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.7rem;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

#topBar {
  background: #fff;
  height: 80px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 50;
}
#topBar .container {
  align-items: center;
  display: flex;
}
#topBar .imgContainer {
  margin-right: auto;
  width: 20%;
}
#topBar nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  min-width: 425px;
}
@media screen and (max-width: 390px) {
  #topBar nav {
    display: none;
  }
}
#topBar nav li {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #837d87;
  display: inline;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#topBar nav li:hover {
  color: #2b272f;
}
#topBar .nav__mobileBtn {
  display: none;
}
@media screen and (max-width: 390px) {
  #topBar .nav__mobileBtn {
    display: block;
  }
}

#cta {
  background: #2d2640;
  height: 600px;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 390px) {
  #cta {
    height: 100%;
  }
}
#cta .pattern__right {
  background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat right;
  height: 100%;
  position: absolute;
  top: -80px;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 390px) {
  #cta .pattern__right {
    background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat left;
    top: 55px;
  }
}
#cta .pattern__left {
  background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 382px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 390px) {
  #cta .pattern__left {
    background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat right;
    top: 515px;
  }
}
#cta .container {
  display: flex;
  padding-top: 105px;
  position: relative;
  z-index: 103;
}
@media screen and (max-width: 390px) {
  #cta .container {
    flex-direction: column-reverse;
    padding-top: 0;
    width: 100%;
  }
}
#cta .container:before {
  background: #fafafa;
  content: "";
  height: 1px;
  position: absolute;
  width: 150px;
}
@media screen and (max-width: 390px) {
  #cta .container:before {
    display: none;
  }
}
#cta .container .cta__text {
  padding-right: 2%;
  width: 50%;
}
@media screen and (max-width: 390px) {
  #cta .container .cta__text {
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }
}
#cta .container .cta__text h1 {
  color: #fafafa;
  padding: 65px 0 30px;
}
@media screen and (max-width: 390px) {
  #cta .container .cta__text h1 {
    padding: 20px 0;
  }
}
#cta .container .cta__text p,
#cta .container .cta__text a {
  color: #fafafa;
  opacity: 0.7;
}
#cta .container .cta__text p {
  line-height: 1.7rem;
  margin: 0 auto;
}
@media screen and (max-width: 390px) {
  #cta .container .cta__text p {
    width: 90%;
  }
}
#cta .container .cta__text .cta__btn {
  text-transform: uppercase;
  margin-top: 40px;
}
#cta .container .cta__text .cta__btn a {
  border: 2px solid #fafafa;
}
#cta .container .cta__text .cta__btn a:hover {
  background: #fafafa;
  color: #2b272f;
}
#cta .container .cta__image {
  width: 40%;
}
@media screen and (max-width: 390px) {
  #cta .container .cta__image .image__desktop {
    display: none;
  }
}
#cta .container .cta__image .image__mobile {
  display: none;
}
@media screen and (max-width: 390px) {
  #cta .container .cta__image .image__mobile {
    display: block;
    width: 360px;
  }
}

#different {
  height: 100%;
  margin-top: 300px;
  width: 100%;
}
@media screen and (max-width: 390px) {
  #different {
    margin-top: 150px;
  }
}
#different .container:before {
  background: #2d2640;
  content: "";
  height: 1px;
  position: absolute;
  width: 150px;
}
@media screen and (max-width: 390px) {
  #different .container {
    text-align: center;
  }
  #different .container:before {
    left: 112.5px;
  }
}
#different .container h1 {
  color: #2d2640;
  padding: 65px 0 95px;
}
#different .container .item__container {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 390px) {
  #different .container .item__container {
    flex-wrap: wrap;
  }
}
#different .container .item__container .item {
  width: 31%;
  margin-right: 3.5%;
}
@media screen and (max-width: 390px) {
  #different .container .item__container .item {
    width: 100%;
    margin: 0 0 50px 0;
  }
}
#different .container .item__container .item:last-child {
  margin-right: 0;
}
#different .container .item__container .item h3 {
  color: #2b272f;
  padding: 35px 0 25px;
}
#different .container .item__container .item p {
  color: #837d87;
  line-height: 1.55rem;
}

#howWeWorkBanner {
  height: 100%;
  margin: 150px 0;
  width: 100%;
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner {
    margin: 100px 0 150px;
  }
}
#howWeWorkBanner .container {
  background: #2d2640;
  height: 250px;
  position: relative;
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner .container {
    height: 100%;
  }
}
#howWeWorkBanner .container .banner__pattern {
  background: url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat right;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner .container .banner__pattern {
    background: url("../images/bg-pattern-how-we-work-mobile.svg") no-repeat right;
    height: 88%;
  }
}
#howWeWorkBanner .container .banner__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 85%;
  z-index: 5;
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner .container .banner__inner {
    flex-direction: column;
    text-align: center;
  }
}
#howWeWorkBanner .container .banner__inner h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #fafafa;
  margin-right: auto;
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner .container .banner__inner h2 {
    padding: 70px 0 50px;
  }
}
@media screen and (max-width: 390px) {
  #howWeWorkBanner .container .banner__inner a {
    margin-bottom: 70px;
  }
}

#footer {
  background: #fafafa;
  height: 395px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 390px) {
  #footer {
    height: 100%;
  }
}
#footer .footer__pattern {
  background: url("../images/bg-pattern-footer-desktop.svg") no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 390px) {
  #footer .footer__pattern {
    background: url("../images/bg-pattern-footer-mobile.svg") no-repeat;
  }
}
#footer .footer__top {
  padding-top: 25px;
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 390px) {
  #footer .footer__top {
    height: 175px;
  }
}
#footer .footer__top .container {
  align-items: center;
  border-bottom: 1px solid rgba(131, 125, 135, 0.25);
  display: flex;
}
@media screen and (max-width: 390px) {
  #footer .footer__top .container {
    flex-direction: column;
  }
}
#footer .footer__top .container .footer__top-logo {
  margin-right: auto;
  z-index: 5;
}
@media screen and (max-width: 390px) {
  #footer .footer__top .container .footer__top-logo {
    margin: 50px 0 25px;
  }
}
#footer .footer__top .container .footer__top-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
#footer .footer__top .container .footer__top-social svg:hover path {
  fill: #2b272f;
}
#footer .footer__bottom {
  margin-top: 40px;
}
#footer .footer__bottom .container {
  display: flex;
}
@media screen and (max-width: 390px) {
  #footer .footer__bottom .container {
    flex-direction: column;
  }
}
#footer .footer__bottom-vertList {
  width: 25%;
  z-index: 5;
}
@media screen and (max-width: 390px) {
  #footer .footer__bottom-vertList {
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }
  #footer .footer__bottom-vertList:last-child {
    padding-bottom: 50px;
  }
}
#footer .footer__bottom-vertList h5,
#footer .footer__bottom-vertList li {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  line-height: 1.85rem;
  color: #2d2640;
}
#footer .footer__bottom-vertList li:hover {
  text-decoration: underline;
}
#footer .footer__bottom-vertList h5 {
  color: #837d87;
  padding-bottom: 25px;
}

#mobile-nav #topBar {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 390px) {
  #mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2b272f;
    z-index: 1000;
  }
  #mobile-nav nav {
    position: relative;
    text-align: center;
    z-index: 10;
  }
  #mobile-nav nav li {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style-type: none;
    margin: 50px 0;
  }
  #mobile-nav nav li.button__light {
    width: 70%;
    margin: 0 auto;
  }
  #mobile-nav nav li:hover {
    text-decoration: underline;
  }
  #mobile-nav nav li.button__light:hover {
    text-decoration: none;
  }
  #mobile-nav .pattern__mobileNav {
    position: relative;
    background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom;
    z-index: 1;
    height: 100%;
    width: 100%;
    bottom: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
