@import "reset";

/* Variables and Mixins */
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGreyishViolet: hsl(273, 4%, 51%);
$veryLightGrey: hsl(0, 0%, 98%);

$DMSerif: "DM Serif Display", serif;
$Karla: "Karla", sans-serif;

@mixin font($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}

@mixin accent($color) {
  &:before {
    background: $color;
    content: "";
    height: 1px;
    position: absolute;
    width: 150px;
  }
}
/* End Variables and Mixins */

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  width: 77%;
}

.button__light,
.button__dark {
  @include font($Karla, 700);
  letter-spacing: 2px;
  font-size: 0.8rem;
  padding: 12px 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.button__light {
  border: 2px solid $veryLightGrey;
  color: $veryLightGrey !important;
  &:hover {
    background: $veryLightGrey;
    color: $veryDarkViolet !important;
  }
}

.button__dark {
  border: 2px solid $veryDarkViolet;
  color: $veryDarkViolet !important;
  &:hover {
    background: $veryDarkViolet;
    color: $veryLightGrey !important;
  }
}

h1,
h2,
h3 {
  @include font($DMSerif, 400);
}

h1 {
  font-size: 4.5rem;
  line-height: 4.1rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  @include font($Karla, 400);
}

#topBar {
  background: #fff;
  height: 80px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 50;
  .container {
    align-items: center;
    display: flex;
  }
  .imgContainer {
    margin-right: auto;
    width: 20%;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    min-width: 425px;
    li {
      @include font($Karla, 700);
      color: $darkGreyishViolet;
      display: inline;
      font-size: 0.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:hover {
        color: $veryDarkViolet;
      }
    }
  }
}

#cta {
  background: $darkViolet;
  height: 600px;
  margin-bottom: 300px;
  position: relative;
  width: 100%;
  z-index: 1;
  .pattern__right {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 10;
  }
  .pattern__left {
    position: absolute;
    bottom: -335px;
    left: 0;
  }
  .container {
    display: flex;
    padding-top: 105px;
    @include accent($veryLightGrey);
    .cta__text {
      padding-right: 2%;
      width: 50%;
      h1 {
        color: $veryLightGrey;
        padding: 65px 0 30px;
      }
      p,
      a {
        color: $veryLightGrey;
        opacity: 0.7;
      }
      p {
        line-height: 1.7rem;
      }
      .cta__btn {
        text-transform: uppercase;
        margin-top: 40px;
        a {
          border: 2px solid $veryLightGrey;
          &:hover {
            background: $veryLightGrey;
            color: $veryDarkViolet;
          }
        }
      }
    }
    .cta__image {
      width: 40%;
    }
  }
}

#different {
  width: 100%;
  height: 100%;
  .container {
    @include accent($darkViolet);
    h1 {
      color: $darkViolet;
      padding: 65px 0 95px;
    }
    .item__container {
      display: flex;
      width: 100%;
      .item {
        width: 31%;
        margin-right: 3.5%;
        &:last-child {
          margin-right: 0;
        }
        h3 {
          color: $veryDarkViolet;
          padding: 35px 0 25px;
        }
        p {
          color: $darkGreyishViolet;
          line-height: 1.55rem;
        }
      }
    }
  }
}

#howWeWorkBanner {
  height: 100%;
  margin: 150px 0;
  width: 100%;
  .container {
    background: $darkViolet;
    height: 250px;
    position: relative;
    .banner__pattern {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .banner__inner {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 auto;
      position: relative;
      width: 85%;
      z-index: 5;
      h2 {
        @include font($DMSerif, 400);
        color: $veryLightGrey;
        margin-right: auto;
      }
    }
  }
}

#footer {
  background: $veryLightGrey;
  height: 395px;
  position: relative;
  width: 100%;
  .footer__pattern {
    position: absolute;
    z-index: 1;
  }
  .footer__top {
    padding-top: 25px;
    height: 100px;
    width: 100%;
    .container {
      align-items: center;
      border-bottom: 1px solid hsla(273, 4%, 51%, 0.25);
      display: flex;
      .footer__top-logo {
        margin-right: auto;
        z-index: 5;
      }
      .footer__top-social {
        display: flex;
        justify-content: space-between;
        width: 150px;
        svg:hover path {
          fill: $veryDarkViolet;
        }
      }
    }
  }
  .footer__bottom {
    margin-top: 40px;
    .container {
      display: flex;
    }
    &-vertList {
      width: 25%;
      z-index: 5;
      h5,
      li {
        @include font($Karla, 700);
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style: none;
        line-height: 1.85rem;
        color: $darkViolet;
      }
      li:hover {
        text-decoration: underline;
      }
      h5 {
        color: $darkGreyishViolet;
        padding-bottom: 25px;
      }
    }
  }
}
