@import "reset";

/* Color Variables */
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGreyishViolet: hsl(273, 4%, 51%);
$veryLightGrey: hsl(0, 0%, 98%);
/* End Color Variables*/

/* Font Mixin and Variables */
$DMSerif: "DM Serif Display", serif;
$Karla: "Karla", sans-serif;

@mixin font($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}
/* End Font Mixin and Variables */

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  width: 77%;
}

#topBar {
  // TODO: Fix topBar spacing on window resize
  background: #fff;
  height: 80px;
  margin: 0;
  padding: 0;
  .container {
    align-items: center;
    display: flex;
  }
  .imgContainer {
    margin-right: auto;
    width: 20%;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    li {
      @include font($Karla, 700);
      color: $darkGreyishViolet;
      display: inline;
      font-size: 0.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:last-child {
        border: 2px solid $veryDarkViolet;
        color: $veryDarkViolet;
        padding: 12px 25px;
      }
    }
  }
}

#cta {
  background: $darkViolet;
  height: 600px;
  margin-bottom: 300px;
  position: relative;
  width: 100%;
  z-index: -1;
  .pattern__right {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 1;
  }
  .pattern__left {
    position: absolute;
    bottom: -335px;
    left: 0;
  }
  .container {
    display: flex;
    padding-top: 105px;
    &:before {
      border-top: 1px solid $veryLightGrey;
      content: "";
      height: 3px;
      position: absolute;
      width: 150px;
    }
    .cta__text {
      padding-right: 2%;
      width: 50%;
      h1 {
        @include font($DMSerif, 400);
        color: $veryLightGrey;
        font-size: 4.5rem;
        line-height: 4.1rem;
        padding: 65px 0 30px;
      }
      p,
      a {
        color: $veryLightGrey;
        opacity: 0.7;
      }
      p {
        @include font($Karla, 400);
        line-height: 1.7rem;
      }
      .cta__btn {
        text-transform: uppercase;
        margin-top: 40px;
        a {
          @include font($Karla, 700);
          border: 2px solid $veryLightGrey;
          font-size: 0.8rem;
          letter-spacing: 2px;
          padding: 12px 26px;
          text-decoration: none;
        }
      }
    }
    .cta__image {
      width: 40%;
    }
  }
}

#different {
  width: 100%;
  height: 100%;

  .container {
    &:before {
      border-top: 1px solid $darkViolet;
      content: "";
      height: 3px;
      opacity: 0.5;
      position: absolute;
      width: 150px;
    }
    h1 {
      @include font($DMSerif, 400);
      color: $darkViolet;
      font-size: 4.5rem;
      line-height: 4.1rem;
      padding: 65px 0 95px;
    }
    .item__container {
      display: flex;
      width: 100%;
      .item {
        width: 31%;
        margin-right: 3.5%;
        &:last-child {
          margin-right: 0;
        }
        h2 {
          @include font($DMSerif, 400);
          color: $veryDarkViolet;
          font-size: 1.7rem;
          padding: 35px 0 25px;
        }
        p {
          @include font($Karla, 400);
          color: $darkGreyishViolet;
          line-height: 1.55rem;
        }
      }
    }
  }
}

#howWeWorkBanner {
  height: 100%;
  margin: 150px 0;
  width: 100%;
  .container {
    background: $darkViolet;
    height: 250px;
    position: relative;
    .banner__pattern {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .banner__inner {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 auto;
      width: 85%;
      h2 {
        @include font($DMSerif, 400);
        color: $veryLightGrey;
        font-size: 3.5rem;
        margin-right: auto;
      }
      a {
        @include font($Karla, 400);
        border: 2px solid $veryLightGrey;
        color: $veryLightGrey;
        font-size: 0.9rem;
        letter-spacing: 1px;
        padding: 12px 26px;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 5;
      }
    }
  }
}

#footer {
  background: $veryLightGrey;
  height: 395px;
  position: relative;
  width: 100%;
  .footer__pattern {
    position: absolute;
    z-index: 1;
  }
  .footer__top {
    padding-top: 25px;
    height: 100px;
    width: 100%;
    .container {
      align-items: center;
      border-bottom: 1px solid hsla(273, 4%, 51%, 0.25);
      display: flex;
      .footer__top-logo {
        margin-right: auto;
        z-index: 5;
      }
      .footer__top-social {
        display: flex;
        justify-content: space-between;
        width: 150px;
      }
    }
  }
  .footer__bottom {
    margin-top: 40px;
    .container {
      display: flex;
    }
    &-vertList {
      width: 25%;
      z-index: 5;
      li {
        @include font($Karla, 700);
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style: none;
        line-height: 1.85rem;
        color: $darkViolet;
        &:first-child {
          color: $darkGreyishViolet;
          padding-bottom: 25px;
        }
      }
    }
  }
}
